name: heic_to_jpeg
description: A Flutter plugin to convert HEIC bytes to JPEG bytes on Android, iOS and Web.
version: 0.0.1
publish_to: "none"
environment:
  sdk: ">=2.18.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  web: ^1.0.0

flutter:
  plugin:
    platforms:
      android:
        package: io.appzone.heic_to_jpeg
        pluginClass: HeicToJpegPlugin
      ios:
        pluginClass: HeicToJpegPlugin
      web:
        pluginClass: HeicToJpegWeb
